extends layout

block content
  h2= title
  p 欢迎使用由  
    a(href='https://github.com/smarthomefans') smarthomefans 
    | 提供的 darknet 的NodeJS 包装版本。如果你看到这个界面证明你已经安装成功了
  p 如需发现更多好玩的智能家居玩法
    a(href="https://bbs.iobroker.cn") 请访问这里


